<p>
  <mat-toolbar class="mat-elevation-z5" color="primary">
    <span>Return Order Management</span>
  </mat-toolbar>
</p>
<mat-card class="mat-elevation-z5">
  <mat-card-title>Login</mat-card-title>
  <mat-card-subtitle>
    <mat-error>{{loginError}}</mat-error>
  </mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="loginForm!">
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>Email</mat-label>
        <input formControlName="username" id="username" matInput name="username" required type="email">
        <mat-error *ngIf="username && username.touched && username.invalid">
          Please enter a valid email
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>Password</mat-label>
        <input formControlName="password" id="password" matInput name="password" required type="password">
        <mat-error *ngIf="password && password.touched &&  password.invalid">
          Password is required
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="login()" [disabled]="loginForm!.invalid" color="accent" mat-flat-button>Login</button>
    <button (click)="signup()" mat-stroked-button>Signup</button>
  </mat-card-actions>
</mat-card>
