mat-card {
  width: min(80%, 700px);
  margin: 1rem auto;

  mat-card-title {
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    color: white;
  }

  mat-card-content {
    form {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  mat-card-actions {
    display: flex;
    justify-content: space-evenly;

    button {
      width: 30%;
    }
  }
}

@media screen and (min-width: 600px) {
  mat-card {
    margin: 3rem auto;

    mat-card-content {
      form {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
      }
    }
  }
}
