<mat-sidenav-container>
  <mat-sidenav [(opened)]="sidenavVisible">
    <div class="user-account">
      <div class="account-name">{{fullName}}</div>
      <div class="account-email">{{email}}</div>
    </div>
    <button (click)="logout()" mat-button>
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <p>
      <mat-toolbar color="primary">
        <button (click)="toggleSidenav()" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <span>Return Order Management</span>
      </mat-toolbar>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="home">
  <header>
    <div class="heading">
      <h3>Welcome,</h3>
      <h2>{{firstName}}</h2>
    </div>
    <nav>
      <button>Create Order</button>
      <button>Log Out</button>
    </nav>
  </header>
  <section>
    <article>
      <div class="orders">
        <header>
          Current Orders
        </header>
        <div *ngIf="currentOrders.length > 0">
          <table>
            <thead>
            <tr>
              <th>Order Id</th>
              <th>Component</th>
              <th>Quantity</th>
              <th>Cost</th>
              <th>Delivery Date</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of currentOrders">
              <td>{{order?.orderId}}</td>
              <td>{{order?.processRequest?.componentName}}</td>
              <td>{{order?.processRequest?.quantity}}</td>
              <td>{{getTotalCost(order)}}</td>
              <td>{{order?.processResponse?.dateOfDelivery | date: 'dd/MM/yyyy'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="currentOrders.length === 0">
          No current order
        </div>
      </div>
    </article>
    <article>
      <div class="orders">
        <header>Past Orders</header>
        <div *ngIf="pastOrders.length > 0">
          <table>
            <thead>
            <tr>
              <th>Order Id</th>
              <th>Component</th>
              <th>Quantity</th>
              <th>Cost</th>
              <th>Delivery Date</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of pastOrders">
              <td>{{order?.orderId}}</td>
              <td>{{order?.processRequest?.componentName}}</td>
              <td>{{order?.processRequest?.quantity}}</td>
              <td>{{getTotalCost(order)}}</td>
              <td>{{order?.processResponse?.dateOfDelivery}} | date</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="pastOrders.length === 0">
          No past order
        </div>
      </div>
    </article>
  </section>
</div>
