@use '@angular/material' as mat;
@import '../../../theme';

@include mat.core();

mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: min(70%, 300px);
  background-color: #efefef;

  .user-account {
    height: 150px;
    background-image: url(../../../assets/user-account-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1rem;

    .account-name {
      margin: 0.5rem 0;
      font-size: x-large;
      color: #ffffff;
    }

    .account-email {
      margin-bottom: 1rem;
      color: #f1f1f1;
    }
  }

  button {
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: flex-start;

    mat-icon {
      margin-right: 1rem;
    }
  }
}

mat-sidenav-content {
  .new-order {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }

  .no-order {
    margin: 1rem 0;
    text-align: center;
  }

  table {
    width: 150%;
  }

  mat-spinner {
    margin: 2rem auto;
  }

  @media screen and (min-width: 600px) {
    table {
      width: 100%;
    }

    .new-order {
      position: fixed;
      bottom: 0;
      top: 64px;
      transform: translate(-50%, -50%);
    }
  }
}
