h2 {
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  color: white;
}

mat-dialog-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
}

mat-dialog-actions {
  justify-content: flex-end;
}

.payment-action {
  justify-content: space-between !important;
}

@media screen and (min-width: 600px) {
  mat-dialog-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
