@import 'theme';

:root {
  --primary-color: #{$primary-color};
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

.mat-form-field-wrapper {
  padding-bottom: 1rem !important;
}

.new-order-dialog mat-dialog-container {
  padding: 0 !important;
}

.tile {
  padding: 0.5rem 1rem;
  background: rgba(228, 255, 84, 0.2);
}

@media screen and (min-width: 600px) {
  .new-order-dialog mat-dialog-container {
    padding: 1.5rem !important;
  }
}
