html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

.mat-form-field-wrapper {
  padding-bottom: 1rem !important;
}

.new-order-dialog mat-dialog-container {
  padding: 0 !important;
}

@media screen and (min-width: 600px) {
  .new-order-dialog mat-dialog-container {
    padding: 1.5rem !important;
  }
}
